h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

::selection {
	background: grey;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

:root {
	--light-color: #f5f5f7;
	--dark-color: #221f20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;

	@media screen and (max-width: 768px) {
		--container-padding-inline: 6%;
		--footer-padding-inline: 6%;
	}

	@media screen and (max-width: 576px) {
		--container-padding-inline: 15px;
		--footer-padding-inline: 15px;
	}
}

.container {
	position: relative;
	padding: 0 var(--container-padding-inline) 0 var(--container-padding-inline);
	z-index: 2;
}

.btn {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 0 0;
	padding: 0 5px 0 5px;
	width: 160px;
	min-height: 38px;
	background: #d9d9d900;
	border-style: solid;
	border-width: 1px;
	border-color: var(--light-color);
	font-size: 16px;
	font-weight: 100;
	text-transform: capitalize;
	cursor: grab;
	transition: all 1s ease-out;

	@media screen and (max-width: 576px) {
		font-size: 14px;
		width: 120px;
		min-height: 30px;
	}
}

.btn:hover {
	border: 1px solid var(--light-color);
	background: rgba(217, 217, 217, 0);
	box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
	font-weight: 500;
}

.keywords {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 20px;
	padding: 0 360px 0 360px;
	background: linear-gradient(180deg,
			rgba(255, 255, 255, 0.04) 0%,
			rgba(255, 255, 255, 0.12) 50%,
			rgba(255, 255, 255, 0.2) 100%);

	li {
		list-style-type: none;
		color: var(--light-color);
		font-size: 10px;
		font-weight: 100;
	}

	@media screen and (max-width: 1440px) {
		& {
			padding: 0 20px;
		}
	}

	@media screen and (max-width: 768px) and (min-width: 575px) {
		& li {
			display: none;
		}

		& li:nth-child(-n+9) {
			display: list-item;
		}
	}

	@media screen and (max-width: 576px) {
		& li {
			display: none;
		}

		& li:nth-child(-n+4) {
			display: list-item;
		}

		& {

			position: relative;
			margin-top: 10px;

		}
	}
}

.intermediate__subtitles {
	display: block;
	text-align: center;
	color: var(--dark-color);
	padding: 0 auto;
	font-size: 40px;
	font-weight: 400;
	;

	span {
		position: relative;
	}


	span::after {
		position: absolute;
		content: "";
		display: block;
		bottom: 0;
		right: 0;
		width: 70px;
		height: 2px;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		margin: 0 auto;

	}

	@media screen and (max-width: 768px) {
		& {
			font-size: 36px;
		}

		span {
			font-size: 36px;
		}
	}



	@media screen and (max-width: 576px) {
		& {
			font-size: 24px;
		}

		span {
			font-size: 24px;
		}
	}
}

.about {
	background-color: var(--light-color);
}

.about__title {
	padding-top: 80px;
	font-style: italic;
	font-size: 12px;
	font-weight: 400;
	color: var(--dark-color);

	@media screen and (max-width: 576px) {
		padding-top: 50px;
	}
}

.about__text_block {
	margin-top: 20px;
	font-weight: 400;
	font-size: 40px;
	width: 1100px;
	color: var(--dark-color);

	span {
		color: #A5A5A5;
	}

	@media screen and (max-width: 1440px) {
		width: 100%;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		font-size: 24px;
	}

	@media screen and (max-width: 576px) {
		width: 100%;
		font-size: 16px;
	}
}

.services {
	margin-top: 80px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	column-gap: 30px;

	@media screen and (max-width:768px) {
		display: grid;
		grid-template-columns: 1, 1fr;
		grid-template-rows: repeat(2, auto);
		row-gap: 40px;
	}

	@media screen and (max-width:576px) {
		margin-top: 20px;
		display: grid;
		grid-template-columns: 1, 1fr;
		grid-template-rows: repeat(2, auto);
		row-gap: 20px;
	}

}

.all__services__subtitle {
	padding-bottom: 10px;
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	color: var(--dark-color);

	@media screen and (max-width:576px) {
		font-size: 12px;
	}
}

.services_items {
	flex-basis: 0;
	flex-grow: 1;

	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		margin-top: 10px;
		font-size: 16px;
		font-weight: 400;
		position: relative;

		&:first-child::before {
			content: "";
			display: block;
			left: -40px;
			top: -3px;
			width: 20px;
			height: 20px;
			position: absolute;
			background: url(../icons/camera.svg) center center / cover no-repeat;
		}

		&:nth-child(3):before {
			content: "";
			display: block;
			left: -40px;
			top: -3px;
			width: 20px;
			height: 20px;
			position: absolute;
			background: url(../icons/edit.svg) center center / cover no-repeat;
		}

		@media screen and (max-width:576px) {
			font-size: 14px;
		}

	}


}

.services__list {
	padding: 0;
	list-style-type: none;
	position: relative;

}

#li1::before {
	content: "";
	display: block;
	left: -25px;
	top: 0px;
	width: 15px;
	height: 15px;
	position: absolute;
	background: url(../icons/camera.svg) center center / cover no-repeat;

	@media screen and (max-width:576px) {
		display: none;
	}
}

#li3::before {
	content: "";
	display: block;
	left: -25px;
	top: 0px;
	width: 15px;
	height: 15px;
	position: absolute;
	background: url(../icons/edit.svg) center center / cover no-repeat;

	@media screen and (max-width:576px) {
		display: none;
	}
}

.services_text {
	flex-basis: 0;
	flex-grow: 1;
	font-size: 20px;

	@media screen and (max-width:576px) {
		font-size: 14px;
	}
}

.home_page {
	display: relative;
	background: url(../img/main_bg.jpg) center center / cover no-repeat;
	background-color: #000000;
	min-height: 100vh;
	padding-top: 75px;

	@media screen and (max-width: 768px) {

		background-image: url(../img/bg_tablet.png);

	}

	@media screen and (max-width: 576px) {
		min-height: auto;
		padding-top: 50px;
		background-image: url(../img/bg_mobile.png);
		background-size: 100%;
		background-position: 0px 120px;

	}

	.home_page_text {
		color: var(--light-color);
		font-family: inter;
	}

	.home_page_text.title {
		font-size: 60px;
		font-weight: 400;
		text-transform: uppercase;

		@media screen and (max-width: 768px) {
			font-size: 48px;
		}

		@media screen and (max-width: 576px) {
			font-size: 26px;
		}
	}

	.home_page_text.subtitle {
		margin: 124px 0 0 0;
		font-size: 32px;
		font-weight: 100;
		text-transform: none;

		@media screen and (max-width: 768px) {
			margin-top: 80px;
		}

		@media screen and (max-width: 768px) {
			margin-top: 30px;
			font-size: 16px;
		}


	}

	.home_page_text.location {
		position: relative;
		margin: 100px 0 0 0;
		font-size: 16px;
		font-weight: 100;

		address {
			font-style: normal;
		}

		a {
			color: var(--light-color);
			text-decoration: none;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			left: -45px;
			top: -17px;
			width: 40px;
			height: 49px;
			background: url(../icons/arrow.svg) center center / cover no-repeat;
		}

		@media screen and (max-width: 768px) {
			& {
				margin-top: 80px;
			}

			&::before {
				left: -40px;
			}


		}

		@media screen and (max-width:700px) {
			&::before {
				display: none;
			}
		}

		@media screen and (max-width: 576px) {
			& {
				margin-top: 233px;
			}
		}
	}
}


.portfolio {
	padding-top: 80px;
	background-color: var(--light-color);

	@media screen and (max-width: 768px) {
		padding-top: 50px;
	}
}

.first_photogrid {
	padding-top: 53px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr 1.5fr;
	gap: 50px 30px;

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}

	@media screen and (max-width:768px) {
		padding-top: 43px;
		gap: 30px 20px;
	}

	@media screen and (max-width:576px) {
		padding-top: 43px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr) 1.5fr;

		grid-auto-flow: row;
	}
}


.inspiration {
	padding-top: 80px;
	background-color: var(--light-color);

	@media screen and (max-width:768px) {
		padding-top: 50px;
	}

	@media screen and (max-width:576px) {
		padding-top: 50px;
	}
}

.inspiration__grid {
	padding-top: 53px;
	padding-bottom: 0px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-auto-flow: row;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	gap: 30px 30px;


	img {
		width: 100%;
		height: 100%;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}

	@media screen and (max-width:768px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-auto-flow: row;
		grid-auto-rows: 1fr;
	}

	@media screen and (max-width:576px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr) 2.1fr 1fr 0.4fr;
		grid-auto-flow: row;
		gap: 20px 0;
	}

}

.grid_element4 {
	grid-row: 1/3;
	grid-column: 4/5;

	@media screen and (min-width:577px) and (max-width:768px) {
		grid-row: 2/4;
		grid-column: 2/3;
	}

	@media screen and (max-width: 576px) {
		grid-row: auto;
		grid-column: auto;
	}

}

.grid_element6 {
	grid-row: 2/3;
	grid-column: 2/4;

	@media screen and (min-width:577px) and (max-width:768px) {
		grid-row: 4/5;
		grid-column: 1/3;
	}

	@media screen and (max-width: 576px) {
		grid-row: auto;
		grid-column: auto;
	}

}

.customers {
	padding-top: 80px;
	background-color: var(--light-color);

	@media screen and (max-width:768px) {
		padding-top: 50px;
	}

	@media screen and (max-width: 576px) {
		padding-top: 50px;
	}
}

.customer_logos {
	padding-top: 70px;
	padding-bottom: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
	grid-auto-flow: row;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}




	@media screen and (max-width:768px) {
		column-gap: 20px;
		padding-top: 43px;
		padding-bottom: 50px;
	}

	@media screen and (max-width:576px) {
		padding-top: 30px;
		padding-bottom: 50px;
		row-gap: 20px;
		column-gap: 36px;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: row;
	}

}

/* .footer_container {
	padding: 0 var(--footer-padding-inline) 0 var(--footer-padding-inline);
	background-color: var(--dark-color);
} */

.footer_container {
	padding: 0 var(--footer-padding-inline) 0 var(--footer-padding-inline);
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 768px) {
		display: block;
		padding: 0 var(--footer-padding-inline) 0 var(--footer-padding-inline);

	}

	@media screen and (max-width: 576px) {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		padding: 0 var(--footer-padding-inline) 0 var(--footer-padding-inline);

	}

}

footer {
	background-color: var(--dark-color);
	min-height: 200px;
	color: var(--light-color);
	font-size: 20px;
	font-weight: 400;
	padding-top: 88px;
	padding-bottom: 88px;

	ul {
		display: block;
		list-style-type: none;

	}

	li {
		display: block;
	}

	address {
		font-style: normal;

		@media screen and (max-width: 768px) {
			margin-top: 30px;
			font-size: 16px;
		}

		@media screen and (max-width: 576px) {
			margin-top: 30px;
			font-size: 16px;
			text-align: center;
			order: 2;
			;
		}
	}

	.phone {
		@media screen and (max-width:768px) {
			margin-top: 30px;
			font-size: 16px;
		}

		@media screen and (max-width:576px) {
			margin-top: 30px;
			font-size: 16px;
			text-align: center;
			order: 1;
		}
	}

	@media screen and (max-width: 768px) {
		padding-top: 30px;
		padding-bottom: 40px;
		min-height: auto;
	}

	@media screen and (max-width: 576px) {
		padding-top: 30px;
		padding-bottom: 40px;
		min-height: auto;

	}

}

.footer_social {
	display: flex;
	justify-content: center;
	column-gap: 30px;
	padding-left: 0;


	li {
		width: 32px;
		height: 32px;
		border: 1px solid var(--light-color);
		background: var(--dark-color);
		position: relative;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
		}

		i {
			color: var(--light-color)
		}

		img {
			/* position: absolute;
			top: 4px;
			left: 4px; */
			width: 22px;
			height: 22px;
		}
	}

}